<!DOCTYPE html>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
      <title>Página de Inclusão</title>
   </head>
   <body style="background-image: url('https://i.imgur.com/y6TYPm2.png'); ">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <a class="navbar-brand" href="/">AmyGoo!</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/exibe">Cadastros</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/contato">Entre em Contato</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/busca">Buscar!</a>
               </li>
            </ul>
         </div>
      </nav>
      <br>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="error-template">
                  <h1>Oops!</h1>
                  <h2>404 Not Found</h2>
                  <div class="error-details">
                     <p>Desculpe, ocorreu um erro. A página solicitada não foi encontrada!</p>
                  </div>
                  <div class="error-actions">
                     <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                     AmyGoo</a>
                     <a href="/contato" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-envelope"></span>
                     Entre em Contato</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>