<!DOCTYPE html>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
      <title>Página de Inclusão</title>
   </head>
   <body style="background-image: url('https://i.imgur.com/y6TYPm2.png'); ">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <a class="navbar-brand" href="#">PetGoo!</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/show">Cadastros</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/contact">Entre em Contato</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/busca">Buscar!</a>
               </li>
            </ul>
        </div>      
      </nav>
      <br>
      <div class="container">
         <div class="jumbotron">
            <center>
               <h1 class="display-3"> Buscar no PetGoo </h1>
               <form action="/search" method="get">
                  <div class="col-sm-5">
                     <input class="form-control" type="text" name="query" placeholder="Raça, Cor, Nome...">
                     <br>
                     <input type="submit" value="Buscar" class="btn btn-primary" />
                  </div>
               </form>
            </center>
         </div>
      </div>
   </body>
</html>
